<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.szymou.dao.StatesMapper">
  <resultMap id="BaseResultMap" type="com.java.szymou.bean.States">
    <id column="state_id" jdbcType="INTEGER" property="stateId" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="event_id" jdbcType="INTEGER" property="eventId" />
    <result column="last_changed" jdbcType="TIMESTAMP" property="lastChanged" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="context_id" jdbcType="VARCHAR" property="contextId" />
    <result column="context_user_id" jdbcType="VARCHAR" property="contextUserId" />
    <result column="attributes" jdbcType="LONGVARCHAR" property="attributes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from states
    where state_id = #{stateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.java.szymou.bean.States">
    insert into states (state_id, domain, entity_id, 
      state, event_id, last_changed, 
      last_updated, created, context_id, 
      context_user_id, attributes)
    values (#{stateId,jdbcType=INTEGER}, #{domain,jdbcType=VARCHAR}, #{entityId,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{eventId,jdbcType=INTEGER}, #{lastChanged,jdbcType=TIMESTAMP}, 
      #{lastUpdated,jdbcType=TIMESTAMP}, #{created,jdbcType=TIMESTAMP}, #{contextId,jdbcType=VARCHAR}, 
      #{contextUserId,jdbcType=VARCHAR}, #{attributes,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.java.szymou.bean.States">
    update states
    set domain = #{domain,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      event_id = #{eventId,jdbcType=INTEGER},
      last_changed = #{lastChanged,jdbcType=TIMESTAMP},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=TIMESTAMP},
      context_id = #{contextId,jdbcType=VARCHAR},
      context_user_id = #{contextUserId,jdbcType=VARCHAR},
      attributes = #{attributes,jdbcType=LONGVARCHAR}
    where state_id = #{stateId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select state_id, domain, entity_id, state, event_id, last_changed, last_updated, 
    created, context_id, context_user_id, attributes
    from states
    where state_id = #{stateId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select state_id, domain, entity_id, state, event_id, last_changed, last_updated, 
    created, context_id, context_user_id, attributes
    from states
  </select>
</mapper>